.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.show-input::-webkit-outer-spin-button,
.show-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.show-input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.show-input::placeholder {
  color: #999;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}