.buttonsContainer {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 700px;
}

button {
  width: 150px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #27292d;
  color: #27292d;
  font-size: 14px;
  padding: 10px;
}

select {
  width: 100px;
  height: 40px;
  font-size: 14px;
  border-radius: 1px solid #27292d;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: #27292d;
}
