.buttonsContainer {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 900px;
}

button {
  width: 150px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #27292d;
  color: #27292d;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
}
