.card {
  width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  padding: 20px;
  color: white;
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.bgUserProfile {
  background: linear-gradient(135deg, #54b428 0%, #54485f 100%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.bgTodoList {
  background: linear-gradient(135deg, #7a7f94 0%, #412d55 100%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.bgShoppingCart {
  background: linear-gradient(135deg, #761e59 0%, #8f66b8 100%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.contentContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: auto;
}
.card p {
  font-size: 16px;
}

.topButtons {
  width: 200px;
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.bottomButton {
  width: 300px;
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin: 10px auto 0;
}

.listContainer {
  flex: 1;
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
}

.cartContainer {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart {
  height: 5vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(57, 72, 72);
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.buttonClearCart {
  width: 300px;
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin: 0 auto;
}

.buttonsProduct {
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttonClearBasket {
  width: 200px;
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 50px;
}
