.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(204, 185, 185, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.image-content {
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}

.image-wrapper:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.3);
}

.image-wrapper:hover .image-content {
  transform: scale(1.02); 
}
