.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #27292d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  width: 20px;
  height: 20px;
}

.light:hover {
  transform: scale(1.1);
}
