#root {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #FEF9F3 0%, #FCEBD8 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 75%;
  max-width: 1400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}