@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
  font-family: "Playpen Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}
p {
  font-size: 1.4em;
  padding: 0;
  font-family: "Playpen Sans", sans-serif;
}

input {
  font-family: "Playpen Sans", sans-serif;
  font-weight: 500;
}

select {
  font-family: "Playpen Sans", sans-serif;
  font-weight: 500;
}